
#  Probability

## PETE 2061 Lab 5 Workbook 

## THIS IS DUE BY 11:59 PM ON SUNDAY (Sept 29, 2019)

1. Paste the url (or link) to the pete2061 folder in your github account in the "marked down" cell below. <br>

https://github.com/stravi4/pete2061

2. **Using the example in "lab5_Probability.ipynb", write a Python code to compute the probabililities of all possible total values that can be obtained from rolling a fair die three times**

In [7]:
import itertools
import numpy as np
import pandas as pd

numList = list(range(1,7))
resultList1 = list(itertools.product(numList,repeat=3)) 
print(f"Total number of outcomes = {len(resultList1)}")

resultArray = np.array(resultList1)
sumOutcomes = np.sum(resultArray, axis=1)

df1 = pd.DataFrame({"outcomes":resultList1,"sumOutcomes":sumOutcomes})
df1
by_sumOutcomes = df1.groupby("sumOutcomes")
by_sumOutcomes.describe()
outcomeDF = by_sumOutcomes.count()
outcomes = outcomeDF.values[:,0]
probability = outcomes / np.sum(outcomes)
newDF = pd.DataFrame({"sum":df1["sumOutcomes"].unique(), "outcomes":outcomes, "probability":probability})
newDF

Total number of outcomes = 216

    sum  outcomes  probability
0     3         1     0.004630
1     4         3     0.013889
2     5         6     0.027778
3     6        10     0.046296
4     7        15     0.069444
5     8        21     0.097222
6     9        25     0.115741
7    10        27     0.125000
8    11        27     0.125000
9    12        25     0.115741
10   13        21     0.097222
11   14        15     0.069444
12   15        10     0.046296
13   16         6     0.027778
14   17         3     0.013889
15   18         1     0.004630